doctype html
html
	head
		title ProudPay
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/form-elements.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-general.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-sizes.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-shapes.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-bg-colors.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-bg-images-48.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-effects.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/media-queries.css')

		link(rel='shortcut icon', href='/ico/favicon.png')

		
	body
		nav(style="display:block")
			a.brand(href="/") ProudPay

		div.container.page-container
			div.row
				h3 About us
				p.text.
					ProudPay allows you to pay merchants with your phone. When you are ready to pay at the cash register, simply open the app and connect to the nearby merchant. 
					Once payment has been charged and approved by you, a transaction will occur in the cloud to process the payment. Remember all those awkward moments when you were waiting for your card to scan
					or the cashier peeking how much you were tipping? With ProudPay, you'll never have to sign or hand anything to the merchant!

		footer
			div.container
				div.row
					div.col-sm-7.footer-copyright
						p.footer-link &copy; ProudPay
						p.footer-link 
							a(href="/about") About
						p.footer-link
							a(href="/terms") Terms
						p.footer-link
							a(href="/privacy") Privacy

		script(src='/javascripts/jquery-1.10.2.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/jquery.backstretch.min.js')
		script(src="http://maps.google.com/maps/api/js?sensor=true")
		script(src="/javascripts/jquery.ui.map.min.js")
		script(src='/javascripts/retina-1.1.0.min.js')
		script(src='/javascripts/scripts.js')





		
