doctype html
html
	head
		title ProudPay
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/form-elements.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-general.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-sizes.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-shapes.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-bg-colors.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-bg-images-48.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-effects.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/media-queries.css')

		link(rel='shortcut icon', href='/ico/favicon.png')

		
	body
		nav(style="display:block")
			a.brand(href="/") ProudPay

		div.container.page-container
			div.row
				h3 Privacy Policy
				br
				h4 PROUDPAY.COM (“ProudPay”) Privacy Policy

				p Protecting your private information is our priority. This Statement of Privacy applies to the ProudPay Site, and all related ProudPay sites, and governs online data collection, usage and disclosure of personal information. By using the ProudPay website, you consent to the data practices described in this statement.  Your home jurisdiction may have privacy laws and guidelines that are more or less protective than the guidelines herein.
				p ProudPay encourages you to review the privacy statements of websites you choose to link to from ProudPay so that you can understand how those websites collect, use and share your information. ProudPay is not responsible for the privacy statements or other content on websites outside of the ProudPay website. You may choose not to provide certain personal information to ProudPay, but in doing so, certain products and services may not be available to you.

				br
				h4 COLLECTION OF YOUR INFORMATION
				p Non-personally Identifiable Information - ProudPay collects anonymous demographic non-information, which is not unique to you. ProudPay also collects navigational information, including information about the pages you view, the links you click, and other actions taken in connection with the site. Information about your computer hardware and software may be automatically collected by ProudPay. This information can include: your IP address, browser type, domain names, location, operating system, access times and referring website addresses. 
				p Personally Identifiable and Other Protected Information - ProudPay only collects personal information about you after you have provided ProudPay with your consent to collect that specific information. Personal information may include information collected when you register or visit the site including, but not necessarily limited to: member name and password, name, mailing address, email address, IP address, phone number and information collected when you sign up for our services including your credit card number or other financial account information and billing address or any information you provide to allow ProudPay to allow us to provide unencumbered service to you. ProudPay will also collect information in relation to your third-party account credentials (log-in credentials for third party sites). If you provide third-party account credentials to ProudPay, you consent that content and information from those third-party accounts will be transmitted into your account with ProudPay. Information and Content transmitted from these third-party accounts is covered by this Policy. Users have the option, in certain instances, not to provide ProudPay with certain information, but those Users may not be able to take full advantage of all the features available on the Site. ProudPay may also collect information about you from third-party sources.
				p.
					Information Collected Through the Mobile Application – ProudPay will collect information relating to both Non-personally Indefinable Information and Personally Identifiable and Other Protected Information through our mobile application. If you use our mobile application, we may collect additional data from you, including information about your location or your mobile device. 
				p.
					ProudPay may collect other information, such as details regarding your interactions with our customer support team for purposes of providing the highest quality of customer support. By contacting us, you consent and agree to your communications with ProudPay being monitored or recorded without any further notice from us.

				br
				h4 INFORMATION SHARING AND DISCLOSURE
				p.	Use of Non-personally Identifiable Information - This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the ProudPay website. This information is used only to analyze trends, administer the Site, track user movements and gather broad demographic information for internal use. Most importantly, any recorded IP addresses are not linked to identifiable information of any user.
				p.
					Use of Personally Identifiable and Other Protected Information – ProudPay collects and uses your personal information to operate its website(s) and deliver the products and/or services you have requested including requesting of quotes or listing of services.  Uses may include, but are not limited to: creation and management of your account, processing of any transactions (including transaction-related communications), completing orders you have placed, providing necessary instructions to complete orders through approved third-parties or providing customer support. ProudPay is allowed to disclose your personal information to third-party service providers who perform services on ProudPay’s behalf.  Additionally, we may use information collected through your mobile device to offer you location based services.
				p.
					When you register on ProudPay and submit your Personal Information to create a profile webpage, ProudPay Members and users of certain third-party websites may be able to see your “Screen Name” (“Required Member Identifiers”) when utilizing certain parts of the Site. If this option is available, you will be able to choose what other Personal Information or other information to provide as part of your profile (“Other Member Information”). Providing Other Member Information is voluntary and should correlate with the degree of interaction you want to have with ProudPay Members. We recommend that you guard your anonymity and sensitive information and that you not use your real name as your “Screen Name,” since that would allow others to identify you. You can review and revise your profile information at any time. 
				p.
					ProudPay may keep track of the websites and pages our users visit within the ProudPay Site, in order to determine what ProudPay services are the most popular. This data is used to deliver customized content and advertising within ProudPay to customers whose behavior indicates they are interested in a particular subject area. ProudPay at its option, will also use your personally identifiable information to inform you of other products or services available from ProudPay and its affiliates. ProudPay may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered or to perform research and analysis directed towards improving ProudPay products and services. ProudPay will also use your information to respond to questions that you send us. ProudPay does not sell, rent or lease its customer lists to third parties.  ProudPay may receive data from other sources outside of your use of the Site and combine that information with data collected from the Site. If we do so, we will use the combined information as forth in this policy. ProudPay will not sell your personally identifiable information.
				p.
					Aggregate Information and Non-Identifying Information – ProudPay shares aggregated information that includes your Non-Identifying Information and Log Data with third parties for industry analysis and demographic profiling and to deliver targeted advertising about other products and services, provided such information does not specifically identify you. 
				p.
					Service Providers – ProudPay may employ third party companies and individuals (not limited to vendors, suppliers and advisors) to facilitate our Service, to provide the Service on our behalf, to perform ProudPay related services (e.g., without limitation, maintenance services, database management, web analytics and improvement of the Site’s features) or to assist us in analyzing how our Site and Service are used. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose. ProudPay may also provide Personal Information to our business partners or other trusted entities for the purpose of providing you with information on goods or services we believe will be of interest to you. You can, at any time, opt out of receiving such communications. 
				p.
					Compliance with Laws and Law Enforcement – ProudPay cooperates with government and law enforcement officials and private parties to enforce and comply with the law. We will disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (including but not limited to subpoenas), to protect the property and rights of ProudPay or a third party, to protect the safety of the public or any person, or to prevent or stop activity we consider to be, or to pose a risk of being, any illegal, unethical, offensive or legally actionable activity. Specifically, but not exclusively, ProudPay will disclose information to investigate suspected fraud credit risk protection, harassment or other violations of any law, rule or regulation, or the terms or policies set forth for this Site.
				p.
					Other Disclosures - Information about ProudPay customers, including personal information, will be disclosed as part of any merger, acquisition, or sale of the ProudPay related company and/or assets, as well as in the unlikely event of insolvency, bankruptcy, or receivership, in which personal information would be transferred as one of the business assets of the company. ProudPay will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on ProudPay or the Site; (b) protect and defend the rights or property of ProudPay; and, (c) act under exigent circumstances to protect the personal safety of users of the ProudPay Site, or the public.

				br
				h4 LOG DATA
				p.	When you visit the Site, whether as an ProudPay Member or a non-registered user just browsing (any of these, a “User”), our servers automatically record information that your browser sends whenever you visit a website (“Log Data”). This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type or the webpage you were visiting before you came to our Site, pages or portions of our ProudPay Website that you visit or click on, the time spent on those pages, information you search for on the ProudPay Website, access times and dates, and other statistics. We use this information to monitor and analyze use of the ProudPay Website and the Service and for the ProudPay Website technical administration, to increase the ProudPay Website functionality and user-friendliness, and to better tailor it to our visitors’ needs. For example, some of this information is collected so that when you visit the ProudPay Site again, it will recognize you and serve advertisements and other information appropriate to your interests. We also use this information to verify that visitors to the ProudPay Site meet the criteria required to process their requests. We do not treat Log Data as Personal Information or use it in association with other Personal Information, though we are allowed to aggregate, analyze and evaluate such information for the same purposes as stated above regarding other Non-Identifying Information.

				br
				h4 SECURITY OF YOUR PERSONAL INFORMATION
				p.
					ProudPay secures your personal information from unauthorized access, use or disclosure. ProudPay follows generally accepted industry standards to help protect your personal information. ProudPay has put in place reasonable physical, electronic, and managerial procedures to safeguard the information we collect. Only those employees or other noted parties under this Agreement who need access to your information in order to perform their duties are authorized to have access to your Personal Information.  No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while ProudPay strives to protect your personal information, ProudPay cannot guarantee its absolute security and your use of the Site demonstrates your assumption of this risk. If a password is used to protect your account and personal information, it is your responsibility to keep your password confidential. For more information on protecting your privacy, please visit www.ftc.gov/privacy.

				br
				h4 INTERNATIONAL TRANSFER
				p.	Your information may be transferred to - and maintained on - computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside of California, USA and choose to provide information to us, ProudPay transfers Personal Information to California, USA (as well as other locations with in the United States, and processes it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.

				br
				h4 USE OF COOKIES
				p.	ProudPay uses “cookies to enable you to sign in to the ProudPay services and to help personalize and improve your online experience. A cookie is a small piece of information sent by a web server to a web browser, which enables the server to collect information, including personal information, from the browser. Cookies allow ProudPay to identify registered users when they return to the ProudPay Site so that they can retrieve previous image results, shopping carts and invoices, among other useful information. Cookies save you time by eliminating the need to repeatedly enter the same information and by saving your preferences when using the ProudPay site, while allowing ProudPay to deliver personalized information to you. Cookies can also help prevent fraud and protect your security by checking your login details. 

				p.
					Most browsers automatically accept cookies, but they also allow you to turn off cookies by modifying your browser settings. If you decline cookies, you may not be able to sign in or use other interactive features of our sites and services that depend on cookies but you will be able perform basic navigation of the ProudPay site. 

				br
				h4 PHISHING
				p.	Identifying theft and the practice currently known as “phishing” are of great concern to ProudPay. Safeguarding information to help protect you from identity theft is a top priority. We do not and will not, at any time, request your credit card information, your account ID, login password, or national identification numbers in a non-secure unsolicited e-mail or non-secure telephone communication. For more information about phishing, visit the Federal Trade Commission’s website.

				br
				h4 PERSONS UNDER SIXTEEN
				p.	ProudPay does not knowingly collect personally identifiable information from children or anyone under the age of eighteen (18) and we then only do so with the permission of that person’s parent or guardian. If you are under the age of eighteen (18), you must ask your parent or guardian for permission to use and/or view this website and by using this Site you acknowledge and confirm that you have such permission. If ProudPay is made aware that personal information from a person under eighteen (18) has been collected we will make reasonable efforts to delete such information from our databases.

				br
				h4 INTERACTIVE SERVICES
				p.	The ProudPay Site may include interactive areas or services, including (but not limited to) blogs, chat rooms, bulletin boards, message boards, online hosting or storage services, or other areas or services in which you or third parties create, post or store any content, messages, comments, materials or other items on the sites ("Interactive Areas"). If you use an Interactive Area, you should be aware that these areas are open to the public and any personal information you post or provide at registration may be viewable by others. ProudPay is not responsible for personal information you submit in connection with the Interactive Areas, nor is ProudPay responsible for how others might use that information, including sending you unsolicited messages. Interactive Area postings may be retained indefinitely. If at any time you would like to remove a posting, please contact ProudPay. Removal of a posting from an Interactive Area does not mean that the posting will be deleted from the ProudPay systems.

				br
				h4 LINKED SITES
				p.	The ProudPay Site contains links to third-party websites. ProudPay is not responsible for the privacy practices or the content of those third-party websites. When you visit linked sites, those sites may collect information from you directly, in which case the third-party privacy policy (which may differ from the ProudPay Privacy Policy) would apply. If you have questions regarding the privacy policy of any third-party, you should contact that third-party directly for more information. 

				p.	As a Member of the Site, you will have the option of granting ProudPay access to your account(s) with certain third-party social media and networking sites (each, an “SNS”). Your SNS account information can also be used to sign-in to your ProudPay account. By granting ProudPay access to your SNS account(s), you understand that ProudPay will access, render and store content from your SNS account(s), including Personal Information about you, so that it is available and viewable through the ProudPay Website. We encourage you to read the privacy policies or statements of the other online services you use. You have the ability to disable the connection between the Service and an SNS, at any time, but you must do so through the SNS Site (such as Facebook or PinInterest) and not through the ProudPay Site..

				br
				h4 COMMUNICATIONS
				p.	By providing your contact information to ProudPay (limited to email address and mailing address), you expressly consent to receive communications from us. Furthermore, you expressly agree that ProudPay is free to use any ideas, concepts, know-how, or techniques contained in any communication you send to us without compensation and for any purpose whatsoever, including but not limited to, developing, manufacturing and marketing products and services using such information.

				br
				h4 REFERRAL SERVICES
				p.	ProudPay may institute a referral program in the future in which you provide the email address and name (as well as certain other information) regarding our services to your friends and family. If you choose to use our referral services to tell a friend or family member about our services we will ask you for that persons’ information. We will use that information to send that person a one-time email inviting him or her to visit the site, review the service you have selected and if they choose to join us, to track our referral services. We may use a third-party provider to administer this function, but any such third-party provider will only use the information submitted to facilitate this one-time email. 

				p. If you are the person who was referred (either by email or otherwise, including through our referral  program by clicking on a link on a third party site or email) and you choose to join us, your member name and any information you choose to put on your profile page may be viewable to the person that referred you so that they are able to track their referral services.

				br
				h4 OPT-OUT, CONTROL OF PRIVACY SETTINGS & REMOVAL OF YOUR ACCOUNT
				p.	We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information and to further control your privacy settings as allowed. Users are able to opt-out of receiving any or all communications from ProudPay and control their privacy settings by adjusting your account settings on the Site or by contacting ProudPay. If you would like to permanently remove your account from ProudPay you must contact support at support@proudpay.com 

				p. ProudPay will process your request immediately in regards to opt-outs and changes in privacy settings and promptly after receipt in regards to Removal of your account. ProudPay cannot be held responsible for removing your personally identifiable information from lists of any third party who has previously been provided your information under the terms laid out under this Policy or by your consent, but we will make all practical efforts to assist in this effort. 

				br
				h4 CHANGES TO THIS STATEMENT
				p.	ProudPay will occasionally update this Privacy Policy to reflect company and customer feedback, which may include changes some Users would not consider beneficial solely to them. Any changes to this Policy will be posted here and if practicable we will make you aware of such changes by electronic communication, though we have no right to do so. ProudPay encourages you to periodically review this Policy to be informed of how ProudPay is protecting your information. Your continued use of the Site following the posting of any changes to this Policy will be construed as your acceptance of such changes.

				br
				h4 DISCLAIMER
				p.	ProudPay takes all reasonable precautions to ensure that the personal information we collect, use and disclose is accurate, complete and up-to-date. However, the accuracy of that information depends to a large extent on the information you provide. That's why we recommend that you:
				p.	•	Let us know if there are any errors in your personal information; and
				p.	•	Keep us up to date with changes to personal information such as your name, address, and contact details.

				br
				h4 CONTACT US
				p.	You have a right to access your personal information, subject to some exceptions allowed by law. If you would like to do so, please let us know. You may be required to put your request in writing for security reasons. Also, ProudPay welcomes your questions or comments regarding the Terms. In addition to contacting us regarding complaints or concerns, you may reach out to change your personal information you have on file with us at:

				
				div.	-Email: support@proudpay.com
				p.	-Address: 655 Knight Way, Stanford, CA 94305

				p.
					Effective as of 06.23.2014



		footer
			div.container
				div.row
					div.col-sm-7.footer-copyright
						p.footer-link &copy; ProudPay
						p.footer-link 
							a(href="/about") About
						p.footer-link
							a(href="/terms") Terms
						p.footer-link
							a(href="/privacy") Privacy

		script(src='/javascripts/jquery-1.10.2.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/jquery.backstretch.min.js')
		script(src='/javascripts/retina-1.1.0.min.js')
		script(src='/javascripts/scripts.js')





		
