doctype html
html
	head
		title ProudPay
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/form-elements.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-general.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-sizes.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-shapes.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-bg-colors.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-bg-images-48.css')
		link(rel='stylesheet', href='/ultimate-flat-social-icons/ultm-css/ultm-effects.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/media-queries.css')

		link(rel='shortcut icon', href='/ico/favicon.png')

		
	body
		nav(style="display:block")
			a.brand(href="/") ProudPay

		div.container.page-container
			div.row
				h3  Terms of Use
				p.bold	Agreement between User and ProudPay.com (“ProudPay”). This Agreement governs your use of the ProudPay.com website. 

				p	Welcome to ProudPay.com. The ProudPay.com website (the “Site”) is comprised of various web pages operated by ProudPay and is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the “Terms”). Your initial use and continued use of the Site constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference. ProudPay is a payment service. The terms listed on this page apply to Users sending payment to merchants and other parties through ProudPay.

				br
				h4	PRIVACY
				p	Your use of the Site is subject to ProudPay’s Privacy Policy. Please review our Privacy Policy, which also governs the site and informs users of our data collection practices.

				br
				h4	ELECTRONIC COMMUNICATIONS
				p	Visiting the Site or sending emails to ProudPay constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing. 

				br
				h4	USE OF THE SITE
				p	To make use of this Site, a User must have an email address and a debit card, bank account or credit card to link to the account. ProudPay allows Users to send funds from their account to merchants at the point of sale via ProudPay’s system. When coming into contract with a merchant using the ProudPay system, a prompt will be sent to the User to make payment from that User’s ProudPay account. If a User accepts this prompt, the designated amount of funds will be transferred from the User’s ProudPay account to the merchant. The User will receive an email detailing any payments the User makes via the ProudPay system. 

				p	By accepting the prompt for payment from any particular merchant, you are expressly authorizing ProudPay to remove the designated amount of funds from your ProudPay account for from your linked debit card, bank account, credit card or other financial payment method. Debiting of your account or financial payment method will likely occur on the same day as a User’s initiation of the payment of such designated funds. It is your responsibility to ensure adequate funds are available in your linked financial payment method. ProudPay has no responsibility for any situation that arises due to a User’s lack of funds in their financial payment method for properly requested designated fund amounts.

				p	The Site and its contents (the “Content”) are intended only for users of ProudPay. The Content (including any and all intellectual property posted on the Site) may only be used for your own personal and non-commercial use, or for your organization’s own use, provided that the Content is not modified and that copyright and other intellectual property notices are not deleted. You may not create derivative works from or otherwise exploit the Content in any way. Any other use of the Site or the Content without ProudPay’s written permission is prohibited. Any breach of these Terms and Conditions shall result in the immediate revocation of the license granted through this Agreement without notice to you.

				br
				h4	FEES
				p	Currently, use of the Site’s services are free for User’s sending funds to merchants. There are also no transaction fees charged to the User sending funds. ProudPay reserves the right to change this policy in the future. 

				br
				h4	REFUNDS
				p	If you receive notice that funds are being removed from your ProudPay account or from your linked financial account which you did not authorize or for an amount you did not authorize, please contract ProudPay immediately so that we may look into the situation. Any amounts that are found not be authorized will be returned to your ProudPay account or linked financial account promptly. Any notice by a User more than ten (10) days after the payment of any disputed amount, cannot be refunded.

				br
				h4	YOUR ACCOUNT
				p	In order to take advantage of all of the functionality of the Site, you will need to register for an account. All registration information about you must be truthful, and you may not use any aliases or other means to mask your true identity. When you register on the Site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that ProudPay is not responsible for third party access to your account that results from theft or misappropriate use of your account. ProudPay and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion. If you wish to cancel your account, you must contact ProudPay at the email address listed below. ProudPay will promptly remove your account and your personal information from our database.

				br
				h4	NO UNLAWFUL OR PROHIBITED USE
				p	As a condition of your use of this Site, you warrant to ProudPay that you will not use the Site or Content for any purpose that is unlawful and/or prohibited by these Terms and you agree that you alone are responsible for complying with all applicable laws in relation to your activities through the Site. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party’s use and enjoyment of the Site. You may not obtain or attempt to obtain any Content or other materials or information through any means not intentionally made available or provided for through the Site.

				p	You are prohibited from using the Site or the Content for any purpose not related to the intended use of the Site. Prohibited uses include, but are not limited to: (i) downloading, copying, or re-transmitting a portion or all of the Site or the Content, without, or in violation of, a written license or agreement with ProudPay or by other means than those allowed by the Site to third-party social media accounts (assuming the Content is not altered in any way or maintains the appropriate watermark); (ii) using any type of data gathering or extraction methods; (iii) manipulating or otherwise displaying the Site or the Content by using framing or similar navigational technology; (iv) registering, subscribing, unsubscribing, or attempting to register, subscribe or unsubscribe any party for any ProudPay product or service if you are not expressly authorized by such party to do so; (v) using the Site or the Content other than for its intended purpose or for any unlawful purpose, including but not limited to using the Site to purchase illegal goods or services or using the Site to conduct any type of money-laundering or similar activities.; (vi) interfering with the security of, or otherwise abusing the Site or any system resources, services or networks connected to or accessible through the Site.

				br
				h4	INTELLECTUAL PROPERTY OWNERSHIP
				p	As a condition of your use of this Site, you warrant to ProudPay that you will not use the Site or Content for any purpose that is unlawful and/or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party’s use and enjoyment of the Site. You may not obtain or attempt to obtain any Content or other materials or information through any means not intentionally made available or provided for through the Site.

				p	All Content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of ProudPay or its suppliers or licensors/contributors and is protected by copyright and other laws that protect intellectual property and proprietary rights. Unless otherwise agreed, you agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto. 

				p	You are granted a limited, non-transferable, revocable and non-exclusive license to access the Site for purposes of displaying it on your Internet browser or smart-phone application only for the purpose of using the services of the Site. Other functionality not explicitly listed in these Terms may be made available from time to time and will be outlined further in the applicable Site section.

				br
				h4	USE OF MOBILE SERVICES
				p	The Site may be accessed through mobile devices. ProudPay does not charge for viewing through your mobile devices, but your carrier may. By utilizing our Site through your mobile services, you consent to be notified by ProudPay (as well as other entities) by SMS, MMS, text message or other electronic means to your mobile device and that certain information pertaining to your use of the mobile services may be communicated to ProudPay.

				br
				h4	INTERNATIONAL USERS
				p	The Service is controlled, operated and administrated by ProudPay from our offices within California, U.S.A. If you access the Service from a location outside California, U.S.A., you are responsible for compliance with all local laws. You agree that you will not use the ProudPay Content accessed through the ProudPay Site in any country or in any manner prohibited by any applicable laws, restrictions or regulations.

				br
				h4	INDEMNIFICATION
				p	You agree to indemnify, defend and hold harmless ProudPay, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or arising out of your use of or inability to use the Site or Services, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. ProudPay reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with ProudPay in asserting any available defenses.

				br
				h4	THIRD PARTY SERVICES
				p	Certain services offered over the site (by way of example – third party payment processing) may be delivered by third party sites and organizations. By using any product, service or functionality originating from the ProudPay Site domain, you hereby acknowledge and consent that ProudPay may share such information and data with any third party with whom ProudPay has a contractual relationship to provide the requested product, service or functionality on behalf of ProudPay users and customers. You also recognize that certain obligations ProudPay may have in regards to our offering of the Services, including indemnity obligations and privacy of information obligations, may be the responsibility of these third party sites and organizations.

				br
				h4	REPRESENTATIONS AND WARRANTIES
				p	You represent and warrant to ProudPay that: (i) you and all transactions conducted by you will comply with all federal, state, and local laws, rules, and regulations applicable to you, including any applicable tax laws and regulations; (ii) you will not use the Site, directly or indirectly, for any fraudulent undertaking or in any manner so as to interfere with the Site; (iii) your use of the Site will be conducted in compliance with these Terms; (iv) you have the right, power, and ability to enter into and perform under these Terms; (v) you are at least eighteen (18) years of age and (vi) you will fulfill all of your obligations to each merchant for which you submit a transaction.

				br
				h4	NO WARRANTY
				p	THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. PROUDPAY AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.

				p	PROUDPAY AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND. PROUDPAY AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. 

				br
				h4	LIABILITY DISCLAIMER

				p	TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL PROUDPAY AND/OR ITS SUPPLIERS OR RELATED THIRD PARTIES BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE SUE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF PROUDPAY OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.

				p	THE SERVICES ARE CONTROLLED AND OPERATED FROM FACILITIES IN THE UNITED STATES. PROUDPAY MAKES NO REPRESENTATIONS THAT THE SERVICES ARE APPROPRIATE OR AVAILABLE FOR USE IN OTHER LOCATIONS. THOSE WHO ACCESS OR USE THE SERVICES FROM OTHER JURISDICTIONS DO SO AT THEIR OWN VOLITION AND ARE ENTIRELY RESPONSIBLE FOR COMPLIANCE WITH ALL APPLICABLE UNITED STATES AND LOCAL LAWS AND REGULATIONS, INCLUDING BUT NOT LIMITED TO EXPORT AND IMPORT REGULATIONS. YOU MAY NOT USE THE SERVICES IF YOU ARE A RESIDENT OF A COUNTRY EMBARGOED BY THE UNITED STATES, OR ARE A FOREIGN PERSON OR ENTITY BLOCKED OR DENIED BY THE UNITED STATES GOVERNMENT. UNLESS OTHERWISE EXPLICITLY STATED, ALL MATERIALS FOUND ON THE SERVICES ARE SOLELY DIRECTED TO INDIVIDUALS, COMPANIES, OR OTHER ENTITIES LOCATED IN THE UNITED STATES.

				br
				h4	TERMINATION/ACCESS RESTRICTION
				p	ProudPay reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. 

				br
				h4	NO JOINT VENTURE/ENTIRE AGREEMENT
				p	You agree that no joint venture, partnership, employment, or agency relationship exists between you and ProudPay as a result of this agreement or use of the Site. ProudPay’s performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of ProudPay’s right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by ProudPay with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.

				p	Unless otherwise specified herein, or specified in writing by all parties involved, this agreement constitutes the entire agreement between the user and ProudPay with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and ProudPay with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.

				br
				h4	AGE ELIGIBILITY
				p	The Site is intended solely for Users who are eighteen (18) years of age or older. Any registration by, use of or access to the Site by anyone under 18 is unauthorized, unlicensed and in violation of these Terms. By using the Site, you represent and warrant that you are 18 or older.

				br
				h4	CHANGES TO TERMS
				p	ProudPay reserves the right, in its sole discretion, to change the Terms under which the ProudPay Site is offered. The most current version of the Terms will supersede all previous versions. ProudPay encourages you to periodically review the Terms to stay informed of our updates.

				br
				h4	WAIVER/SEVERABILITY
				p	ProudPay’s failure to insist upon or enforce strict performance of any provision of these Terms of Use shall not be construed as a waiver of any provision or right. If any provision or part thereof these Terms or Use is wholly or partially unenforceable, the parties or, in the event the parties are unable to agree, a court of competent jurisdiction, shall put in place thereof an enforceable provision or provisions, or part thereof, that nearly as possible reflects the terms of the unenforceable provision or part thereof. 

				br
				h4	GOVERNING LAW
				p	The Site is controlled, operated and administered by ProudPay from within California, U.S.A. The Site can be accessed from any country around the world. As each jurisdiction has laws that may differ from those of California, U.S.A., by accessing this Site, you acknowledge and agree that all matters relating to the use of the Site shall be governed by the laws of California, U.S.A. and the federal laws of the U.S.A. applicable therein. Use of the Site may be unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.

				br
				h4	BINDING ARBITRATION
				p	The User and ProudPay agree to arbitrate all disputes. ANY ARBITRATION UNDER THIS AGREEMENT WILL BE ONLY BE ON A INDIVIDUAL BASIS; CLASS ARBITRATIONS, CLASS ACTIONS, PRIVATE ATTORNEY GENERAL ACTIONS, AND CONSOLIDATION WITH OTHER ARBITRATIONS ARE NOT PERMITTED, AND YOU ARE WAIVING YOUR RIGHTS TO HAVE YOUR CASE DECIDED BY A JURY AND TO PARTICIPATE IN A CLASS ACTION AGAINST PROUDPAY. All disputes shall be resolved finally and exclusively by binding individual arbitration with a single arbitrator administered by the American Arbitration Association or JAMS according to this provision and the applicable arbitration rules for that forum. All arbitration hearings will occur in California, or another mutually agreeable location. The arbitrator’s award shall be binding on the parties and may be entered as a judgment in any court of competent jurisdiction. Each party to the dispute will pay their proportionate share of any fees and legal costs and each party will be responsible for their own attorney’s fees. For purposes of this arbitration provision, references to you and ProudPay also include respective subsidiaries, affiliates, agents, employees, predecessors, successors and assigns as well as authorized users or beneficiaries of ProudPay services. Subject to and without waiver of the arbitration provisions above, you agree that any judicial proceedings (other than small claims actions in consumer cases) will be brought in and you hereby consent to the exclusive jurisdiction and venue in the state courts of California, or federal courts located in the State of California.

				br
				h4	CONTACT US
				p	ProudPay welcomes your questions or comments regarding the Terms or requests of any other nature:

				div.	-Email: support@proudpay.com
				p.	-Address: 655 Knight Way, Stanford, CA 94305

				p	Effective as of 06.23.2014
 


		footer
			div.container
				div.row
					div.col-sm-7.footer-copyright
						p.footer-link &copy; ProudPay
						p.footer-link 
							a(href="/about") About
						p.footer-link
							a(href="/terms") Terms
						p.footer-link
							a(href="/privacy") Privacy

		script(src='/javascripts/jquery-1.10.2.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/jquery.backstretch.min.js')
		script(src='/javascripts/retina-1.1.0.min.js')
		script(src='/javascripts/scripts.js')





		
